# ML Monitoring Fundamentals


# 1. Data Drift, Model Drift, Performance

In [24]:
import whylogs as why
import numpy as np
import pandas as pd
import datetime
import os

from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

pd.set_option("display.max_columns", None)

## Train a Machine Learning Model

In [25]:
df_iris = load_iris(as_frame=True)

print(list(df_iris.target_names))
print(list(df_iris.feature_names))

['setosa', 'versicolor', 'virginica']
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [26]:
# Train baseline Model
# KNN Model
from sklearn import neighbors
knn = neighbors.KNeighborsClassifier(n_neighbors=5)

# Create feature and target data varaible
X, y = df_iris.data, df_iris.target

#create train & test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3,
                                                    random_state=6,
                                                    stratify=y)
# Train model
knn.fit(X_train, y_train)

# Predict the labels on test data sset
y_pred = knn.predict(X_test)

# Print model accuracy
knn.score(X_test, y_test)

0.9333333333333333

## Import batches of data

In [27]:
 # Import data batches
url = 'datasets/iris_1_no_drift.csv'
batch_data_1 = pd.read_csv(url)

url2 = 'datasets/iris_2_no_drift.csv'
batch_data_2 = pd.read_csv(url2)

url3 = 'datasets/iris_3_no_drift.csv'
batch_data_3 = pd.read_csv(url3)

url4 = 'datasets/iris_4_drift_0s.csv'
batch_data_4 = pd.read_csv(url4)

url5 = 'datasets/iris_5_drift.csv'
batch_data_5 = pd.read_csv(url5)

url6 = 'datasets/iris_6_drift.csv'
batch_data_6 = pd.read_csv(url6)

url7 = 'datasets/iris_7_no_drift.csv'
batch_data_7 = pd.read_csv(url7)

# iris feature names
feature_names = ['sepal length (cm)', 'sepal width (cm)','petal length (cm)','petal width (cm)']

# separate targets
X_batch_1 = batch_data_1[feature_names]
X_batch_2 = batch_data_2[feature_names]
X_batch_3 = batch_data_3[feature_names]
X_batch_4 = batch_data_4[feature_names]
X_batch_5 = batch_data_5[feature_names]
X_batch_6 = batch_data_6[feature_names]
X_batch_7 = batch_data_7[feature_names]

y_batch_1 = batch_data_1['target']
y_batch_2 = batch_data_2['target']
y_batch_3 = batch_data_3['target']
y_batch_4 = batch_data_4['target']
y_batch_5 = batch_data_5['target']
y_batch_6 = batch_data_6['target']
y_batch_7 = batch_data_7['target']



dfs = [X_batch_1, X_batch_4, X_batch_5, X_batch_6, X_batch_2, X_batch_3, X_batch_7]

df_target = [y_batch_1, y_batch_4, y_batch_5, y_batch_6, y_batch_2, y_batch_3, y_batch_7]

In [28]:
X_batch_1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.5               3.2                1.5              -0.0
1                  6.2               2.5                3.9               1.2
2                  5.9               3.1                4.4               1.3
3                  6.1               3.0                6.4               1.9
4                  6.6               3.3                6.4               1.8
..                 ...               ...                ...               ...
145                5.6               3.0                3.6               1.1
146                5.2               3.5                1.4               0.1
147                6.8               2.9                4.7               1.3
148                4.6               3.5                1.4               0.2
149                6.4               3.1                5.4               2.2

[150 rows x 4 columns]

In [29]:
dfs[0].head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.5               3.2                1.5              -0.0
1                6.2               2.5                3.9               1.2
2                5.9               3.1                4.4               1.3
3                6.1               3.0                6.4               1.9
4                6.6               3.3                6.4               1.8

In [30]:
# create profile
profile1 = why.log(X_batch_1)

profile_view1 = profile1.view()
profile_view1.to_pandas()

,cardinality/est,cardinality/lower_1,cardinality/upper_1,counts/inf,counts/n,counts/nan,counts/null,distribution/max,distribution/mean,distribution/median,distribution/min,distribution/n,distribution/q_01,distribution/q_05,distribution/q_10,distribution/q_25,distribution/q_75,distribution/q_90,distribution/q_95,distribution/q_99,distribution/stddev,type,types/boolean,types/fractional,types/integral,types/object,types/string,types/tensor
column,,,,,,,,,,,,,,,,,,,,,,,,,,,,
petal length (cm),42.000004,42.0,42.002101,0,150,0,0,6.8,3.775333,4.2,1.0,150,1.1,1.3,1.4,1.5,5.3,5.9,6.3,6.6,1.800669,SummaryType.COLUMN,0,150,0,0,0,0
petal width (cm),24.000001,24.0,24.001200,0,150,0,0,2.5,1.168667,1.3,-0.0,150,-0.0,0.1,0.2,0.3,1.8,2.2,2.3,2.4,0.758499,SummaryType.COLUMN,0,150,0,0,0,0
sepal length (cm),35.000003,35.0,35.001750,0,150,0,0,8.1,5.856000,5.8,4.0,150,4.3,4.5,4.8,5.1,6.6,7.0,7.2,7.7,0.874277,SummaryType.COLUMN,0,150,0,0,0,0
sepal width (cm),20.000001,20.0,20.001000,0,150,0,0,4.4,3.100000,3.0,2.1,150,2.3,2.5,2.6,2.8,3.3,3.6,3.8,4.4,0.417567,SummaryType.COLUMN,0,150,0,0,0,0

## Writing profiles to WhyLabs

We're going start with an example of using profiles with the WhyLabs Observatory.

We'll explore using whylogs for data validation & drift visualization after this!

## Get WhyLabs access tokens [expand]

## Sending profiles

In [31]:
# set authentication & project keys
os.environ["WHYLABS_DEFAULT_ORG_ID"] = 'org-fNzLrC'
os.environ["WHYLABS_API_KEY"] = 'yYf6GyZcGd.5yW34uwxVEWSzD1Dg0nTkIsgKxL0dJU1Lc2PVg1KzU83uEYWRI3Gy:org-fNzLrC'
os.environ["WHYLABS_DEFAULT_DATASET_ID"] = 'model-4'

In [32]:
from whylogs.api.writer.whylabs import WhyLabsWriter

In [33]:
# Single Profile
writer = WhyLabsWriter()
profile= why.log(X_batch_1)
writer.write(file=profile.view())

(True, 'log-xNB9bVpYQBnAz6JZ')

Write multiple profiles with different dates to backfill

In [34]:
# initialize writer
writer = WhyLabsWriter()

# back fill 1 day per batch
for i, df in enumerate(dfs):

    # walking backwards. Each dataset has to map to a date to show up as a different batch in WhyLabs
    dt = datetime.datetime.now(tz=datetime.timezone.utc) - datetime.timedelta(days=i)

    # create profile for each batch of data
    profile = why.log(df).profile()

    # set the dataset timestamp for the profile
    profile.set_dataset_timestamp(dt)
    # write the profile to the WhyLabs platform
    writer.write(file=profile.view())

Reference Profile

In [35]:
ref_profile = why.log(df_iris.data).profile()
writer = WhyLabsWriter().option(reference_profile_name="iris_training_profile")
writer.write(file=ref_profile.view())

(True, 'ref-MNemOy4spwhxFDbo')

## Logging output

In [36]:
# Get predictions with model & append to df
pred_dfs = dfs

class_names = ['setosa', 'versicolor', 'virginica']

for i, df in enumerate(pred_dfs):
    y_pred = knn.predict(df)
    y_prob = knn.predict_proba(df)
    pred_scores = []
    pred_classes = []

    for pred in y_pred:
      pred_classes.append(class_names[pred])
    df['cls_output'] = pred_classes
    for prob in y_prob:
      pred_scores.append(max(prob))
    df['prob_output'] = pred_scores
    # print(pred_scores)

C:\Users\ANAND\AppData\Local\Temp\ipykernel_6912\1539652149.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cls_output'] = pred_classes
C:\Users\ANAND\AppData\Local\Temp\ipykernel_6912\1539652149.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prob_output'] = pred_scores

In [37]:
pred_dfs[-1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cls_output,prob_output
0,5.2,2.9,1.2,0.3,setosa,1.0
1,5.5,2.6,4.5,1.2,versicolor,1.0
2,6.2,3.5,3.4,1.5,versicolor,1.0
3,5.0,3.4,1.5,0.1,setosa,1.0
4,5.3,3.2,1.3,0.3,setosa,1.0
...,...,...,...,...,...,...
145,4.7,3.2,5.1,1.1,versicolor,1.0
146,6.7,3.3,4.9,2.3,virginica,0.8
147,4.9,2.7,1.4,0.2,setosa,1.0
148,5.6,3.0,5.0,1.5,versicolor,0.6
149,4.8,3.4,1.5,0.2,setosa,1.0

In [38]:
writer = WhyLabsWriter()

for i, df in enumerate(pred_dfs):

    out_df = df[['cls_output', 'prob_output']].copy()
   # walking backwards. Each dataset has to map to a date to show up as a different batch in WhyLabs
    dt = datetime.datetime.now(tz=datetime.timezone.utc) - datetime.timedelta(days=i)
    profile = why.log(out_df).profile()

    # set the dataset timestamp for the profile
    profile.set_dataset_timestamp(dt)
    #write the profile to the WhyLabs platform
    writer.write(file=profile.view())

## Log performance

Instead of just logging outputs, if we have ground truth data we can also monitor performance metrics overtime.


Classification:

Regression:

In [39]:
pred_dfs[-1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cls_output,prob_output
0,5.2,2.9,1.2,0.3,setosa,1.0
1,5.5,2.6,4.5,1.2,versicolor,1.0
2,6.2,3.5,3.4,1.5,versicolor,1.0
3,5.0,3.4,1.5,0.1,setosa,1.0
4,5.3,3.2,1.3,0.3,setosa,1.0
...,...,...,...,...,...,...
145,4.7,3.2,5.1,1.1,versicolor,1.0
146,6.7,3.3,4.9,2.3,virginica,0.8
147,4.9,2.7,1.4,0.2,setosa,1.0
148,5.6,3.0,5.0,1.5,versicolor,0.6
149,4.8,3.4,1.5,0.2,setosa,1.0

In [40]:
# Append ground truth data to dataframe
for i, df in enumerate(pred_dfs):
    df['ground_truth'] = df_target[i]

In [41]:
pred_dfs[0]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cls_output,prob_output,ground_truth
0,5.5,3.2,1.5,-0.0,setosa,1.0,setosa
1,6.2,2.5,3.9,1.2,versicolor,1.0,versicolor
2,5.9,3.1,4.4,1.3,versicolor,1.0,versicolor
3,6.1,3.0,6.4,1.9,virginica,1.0,virginica
4,6.6,3.3,6.4,1.8,virginica,1.0,virginica
...,...,...,...,...,...,...,...
145,5.6,3.0,3.6,1.1,versicolor,1.0,versicolor
146,5.2,3.5,1.4,0.1,setosa,1.0,setosa
147,6.8,2.9,4.7,1.3,versicolor,1.0,versicolor
148,4.6,3.5,1.4,0.2,setosa,1.0,setosa
149,6.4,3.1,5.4,2.2,virginica,1.0,virginica

In [42]:
# Log performance

for i, df in enumerate(pred_dfs):

  results = why.log_classification_metrics(
          df,
          target_column = "ground_truth",
          prediction_column = "cls_output",
          score_column="prob_output"
      )
   # walking backwards. Each dataset has to map to a date to show up as a different batch in WhyLabs
  dt = datetime.datetime.now(tz=datetime.timezone.utc) - datetime.timedelta(days=i)

  profile = results.profile()
  profile.set_dataset_timestamp(dt)

  results.writer("whylabs").write()

# 2. Monitoring for Bias & Fairness with Tracing & Explainability

In [43]:
# Imports
import whylogs as why
import numpy as np
import pandas as pd
import datetime
import os

from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

pd.set_option("display.max_columns", None)

In [44]:
# Load iris data as dataframe(df)
df_iris = load_iris(as_frame=True)

print(list(df_iris.target_names))
print(list(df_iris.feature_names))

['setosa', 'versicolor', 'virginica']
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

## Train a Machine Learning Model (quickly)

In [45]:
from sklearn import neighbors
knn = neighbors.KNeighborsClassifier(n_neighbors=5)

X, y = df_iris.data, df_iris.target

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3,
                                                    random_state=42,
                                                    stratify=y)
# Train model
knn.fit(X_train, y_train)

# Predict the labels on test data sset
y_pred = knn.predict(X_test)

# Print model accuracy
knn.score(X_test, y_test)

0.9777777777777777

## Import data batches

In [46]:
 # Import data batches
url = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_8_statefl_1.csv'
batch_data_1 = pd.read_csv(url)

url2 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_9_statefl_1.csv'
batch_data_2 = pd.read_csv(url2)

url3 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_10_statefl_1.csv'
batch_data_3 = pd.read_csv(url3)

url4 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_11_statefl_1.csv'
batch_data_4 = pd.read_csv(url4)

url5 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_12_statefl_1.csv'
batch_data_5 = pd.read_csv(url5)

url6 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_13_statefl_1.csv'
batch_data_6 = pd.read_csv(url6)

url7 = 'https://raw.githubusercontent.com/manifoldailearning/Complete-MLOps-BootCamp/main/ML-Monitoring-WhyLogs/datasets/iris_14_statefl_1.csv'
batch_data_7 = pd.read_csv(url7)

# iris feature names
feature_names = ['sepal length (cm)', 'sepal width (cm)','petal length (cm)','petal width (cm)', 'state']

# separate targets
X_batch_1 = batch_data_1[feature_names]
X_batch_2 = batch_data_2[feature_names]
X_batch_3 = batch_data_3[feature_names]
X_batch_4 = batch_data_4[feature_names]
X_batch_5 = batch_data_5[feature_names]
X_batch_6 = batch_data_6[feature_names]
X_batch_7 = batch_data_7[feature_names]

# We'll save the target values for later!
y_batch_1 = batch_data_1['target']
y_batch_2 = batch_data_2['target']
y_batch_3 = batch_data_3['target']
y_batch_4 = batch_data_4['target']
y_batch_5 = batch_data_5['target']
y_batch_6 = batch_data_6['target']
y_batch_7 = batch_data_7['target']


# create list of our batches
dfs = [X_batch_1, X_batch_4, X_batch_5, X_batch_6, X_batch_2, X_batch_3, X_batch_7]

df_target = [y_batch_1, y_batch_4, y_batch_5, y_batch_6, y_batch_2, y_batch_3, y_batch_7]

In [47]:
dfs[0].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),state
0,4.9,4.0,1.6,0.3,Karnataka
1,4.9,3.5,1.3,0.1,Karnataka
2,5.9,3.0,5.1,1.3,Karnataka
3,5.2,3.3,1.6,0.3,Karnataka
4,4.6,3.2,1.2,0.3,Karnataka


## Creating profiles with whylogs


Profiles generated with whylogs are:

- Secure
- Efficient
- Customizable
- Mergeable

In [48]:
# create profile
profile1 = why.log(X_batch_1)

profile_view1 = profile1.view()
profile_view1.to_pandas()

,cardinality/est,cardinality/lower_1,cardinality/upper_1,counts/inf,counts/n,counts/nan,counts/null,distribution/max,distribution/mean,distribution/median,distribution/min,distribution/n,distribution/q_01,distribution/q_05,distribution/q_10,distribution/q_25,distribution/q_75,distribution/q_90,distribution/q_95,distribution/q_99,distribution/stddev,type,types/boolean,types/fractional,types/integral,types/object,types/string,types/tensor,frequent_items/frequent_strings
column,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
petal length (cm),49.000006,49.0,49.002452,0,150,0,0,7.5,4.041333,4.3,1.1,150,1.1,1.3,1.5,2.4,5.4,6.2,6.8,7.5,1.776664,SummaryType.COLUMN,0,150,0,0,0,0,NaN
petal width (cm),24.000001,24.0,24.001200,0,150,0,0,2.7,1.207333,1.3,0.0,150,0.1,0.1,0.2,0.3,1.9,2.2,2.4,2.5,0.769651,SummaryType.COLUMN,0,150,0,0,0,0,NaN
sepal length (cm),33.000003,33.0,33.001650,0,150,0,0,7.7,5.856000,5.8,4.2,150,4.2,4.7,4.9,5.1,6.5,7.1,7.2,7.7,0.847775,SummaryType.COLUMN,0,150,0,0,0,0,NaN
sepal width (cm),19.000001,19.0,19.000950,0,150,0,0,4.0,2.996000,2.9,2.2,150,2.2,2.3,2.4,2.7,3.3,3.6,3.8,4.0,0.448395,SummaryType.COLUMN,0,150,0,0,0,0,NaN
state,3.000000,3.0,3.000150,0,150,0,0,NaN,0.000000,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,SummaryType.COLUMN,0,0,0,0,150,0,"[FrequentItem(value='Kerala', est=50, upper=50..."

In [49]:
# set authentication & project keys
# os.environ["WHYLABS_DEFAULT_ORG_ID"] = 'ORGID'
# os.environ["WHYLABS_API_KEY"] = 'APIKEY'
os.environ["WHYLABS_DEFAULT_DATASET_ID"] = 'model-3'

### Create dataframe with model predictions

In [50]:
# Get predictions with model & append to df
pred_dfs = dfs

class_names = ['setosa', 'versicolor', 'virginica']

for i, df in enumerate(pred_dfs):
    y_pred = knn.predict(df.iloc[:, :4])
    y_prob = knn.predict_proba(df.iloc[:, :4])
    pred_scores = []
    pred_classes = []

    for pred in y_pred:
      pred_classes.append(class_names[pred])
    df['cls_output'] = pred_classes
    for prob in y_prob:
      pred_scores.append(max(prob))
    df['prob_output'] = pred_scores

In [51]:
pred_dfs[-1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),state,cls_output,prob_output
0,5.5,2.9,4.4,1.2,Karnataka,versicolor,1.0
1,4.7,3.1,1.3,0.3,Karnataka,setosa,1.0
2,4.7,3.0,1.4,0.2,Karnataka,setosa,1.0
3,5.2,3.7,1.4,0.3,Karnataka,setosa,1.0
4,6.8,3.2,6.2,1.6,Karnataka,virginica,1.0
...,...,...,...,...,...,...,...
145,5.9,3.0,5.8,2.6,Tamilnadu,virginica,1.0
146,4.8,2.3,3.7,1.4,Tamilnadu,versicolor,1.0
147,5.3,2.7,4.3,1.3,Tamilnadu,versicolor,1.0
148,5.8,3.2,5.7,1.9,Tamilnadu,virginica,1.0
149,5.1,3.9,1.5,0.1,Tamilnadu,setosa,1.0

### Backfilling data in WhyLabs

In [52]:
from whylogs.core.schema import DatasetSchema
from whylogs.core.segmentation_partition import segment_on_column

In [53]:
# back fill 1 day per batch
for i, df in enumerate(pred_dfs):
    # walking backwards. Each dataset has to map to a date to show up as a different batch in WhyLabs
    dt = datetime.datetime.now(tz=datetime.timezone.utc) - datetime.timedelta(days=i)

    # create profile for each batch of data
    profile = why.log(df, schema=DatasetSchema(segments=segment_on_column("state")))

    # set the dataset timestamp for the profile
    profile.set_dataset_timestamp(dt)
    # write the profile to the WhyLabs platform
    profile.writer("whylabs").write()

Learn more about segmentation in whylogs
- [Intro to Segmentation with whylogs](https://github.com/whylabs/whylogs/blob/mainline/python/examples/advanced/Segments.ipynb)

In [54]:
# Create reference profile
ref_profile = why.log(df_iris.data).profile()
writer = WhyLabsWriter().option(reference_profile_name="iris_training_profile")
writer.write(file=ref_profile.view())

(True, 'ref-w8fVa6N7e0scGTyM')

###Classification Performance Metrics

In [55]:
# Append ground truth data to dataframe
for i, df in enumerate(pred_dfs):
    df['ground_truth'] = df_target[i]

In [56]:
pred_dfs[0]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),state,cls_output,prob_output,ground_truth
0,4.9,4.0,1.6,0.3,Karnataka,setosa,1.0,setosa
1,4.9,3.5,1.3,0.1,Karnataka,setosa,1.0,setosa
2,5.9,3.0,5.1,1.3,Karnataka,versicolor,0.8,versicolor
3,5.2,3.3,1.6,0.3,Karnataka,setosa,1.0,setosa
4,4.6,3.2,1.2,0.3,Karnataka,setosa,1.0,setosa
...,...,...,...,...,...,...,...,...
145,6.0,2.9,6.6,2.0,Tamilnadu,virginica,1.0,virginica
146,5.3,3.0,1.6,0.1,Tamilnadu,setosa,1.0,setosa
147,5.6,2.3,4.2,1.2,Tamilnadu,versicolor,1.0,versicolor
148,5.3,3.1,1.4,0.3,Tamilnadu,setosa,1.0,setosa
149,6.4,2.7,5.4,1.9,Tamilnadu,virginica,1.0,virginica

In [57]:
from whylogs import log_classification_metrics
# from whylogs.core.schema import DatasetSchema
# from whylogs.core.segmentation_partition import segment_on_column

In [ ]:
for i, df in enumerate(pred_dfs):

  segmented_classification_results = log_classification_metrics(
    df,
    target_column = "ground_truth",
    prediction_column = "cls_output",
    schema = DatasetSchema(segments=segment_on_column("state"))
  )
   # walking backwards. Each dataset has to map to a date to show up as a different batch in WhyLabs
  dt = datetime.datetime.now(tz=datetime.timezone.utc) - datetime.timedelta(days=i)

  # profile = segmented_classification_results.profile()
  segmented_classification_results.set_dataset_timestamp(dt)

  segmented_classification_results.writer("whylabs").write()

## Feature importance

Learn more about SHAP
https://github.com/slundberg/shap

In [ ]:
import shap

In [ ]:
explainer = shap.Explainer(knn.predict, X_train)

In [ ]:
shap_values = explainer(X_test)

In [ ]:
shap.summary_plot(shap_values, X_test, plot_type="bar")

In [ ]:
# Get global featue importance
shap_feature_importance = np.mean(np.abs(shap_values.values), axis=0)

In [ ]:
# Create dict with feature importance
shap_feature_importance_dict = dict(zip(X_train.columns.tolist(), shap_feature_importance.tolist()))
feature_importance_dict = {k: v for k, v in sorted(shap_feature_importance_dict.items(),
                                                   key=lambda item: item[1], reverse=True)}

In [ ]:
print(feature_importance_dict)

In [ ]:
# Write values to WhyLabs
from whylogs.core.feature_weights import FeatureWeights
from whylogs.api.writer.whylabs import WhyLabsWriter

feature_weights = FeatureWeights(shap_feature_importance_dict)
result = feature_weights.writer("whylabs").write()

result

# 3. Open-source data & ML monitoring with whylogs

## Using data drift reports with whylogs in a Python environment

![](https://whylabs.ai/_next/image?url=https%3A%2F%2Fcontent.whylabs.ai%2Fcontent%2Fimages%2F2022%2F06%2FTDSImage3.jpeg&w=3120&q=75)

In [ ]:
# create profiles of batches

profile_view1 = why.log(X_batch_1).view()
profile_view1 = why.log(X_batch_1).view()
profile_view2 = why.log(X_batch_2).view()
profile_view3 = why.log(X_batch_3).view()
profile_view4 = why.log(batch_data_4).view()
profile_view5 = why.log(batch_data_5).view()
profile_view6 = why.log(batch_data_6).view()
profile_view7 = why.log(X_batch_7).view()

In [ ]:
# Data Drift with whylogs
from whylogs.viz import NotebookProfileVisualizer

visualization = NotebookProfileVisualizer()
visualization.set_profiles(target_profile_view=profile_view1, reference_profile_view=profile_view3)

In [ ]:
visualization.summary_drift_report()

In [ ]:
visualization.double_histogram(feature_name="petal width (cm)")

In [ ]:
visualization.double_histogram(feature_name="petal length (cm)")

In [ ]:

from whylogs.viz.drift.column_drift_algorithms import calculate_drift_scores

scores = calculate_drift_scores(target_view=profile_view1, reference_view=profile_view3, with_thresholds = True)

scores

In [ ]:
# Compare Another profiles:

from whylogs.viz import NotebookProfileVisualizer

visualization = NotebookProfileVisualizer()
visualization.set_profiles(target_profile_view=profile_view1, reference_profile_view=profile_view6)

In [ ]:
visualization.summary_drift_report()

In [ ]:
visualization.double_histogram(feature_name="petal length (cm)")

In [ ]:
visualization.double_histogram(feature_name="petal width (cm)")

In [ ]:

from whylogs.viz.drift.column_drift_algorithms import calculate_drift_scores

scores = calculate_drift_scores(target_view=profile_view1, reference_view=profile_view6, with_thresholds = True)

scores

Learn more about using data drift reports with whylogs
- [Drift Algorithm Configuration](https://github.com/whylabs/whylogs/blob/mainline/python/examples/advanced/Drift_Algorithm_Configuration.ipynb)

## Data validation with constraints in whylogs


Data quality validation ensures data is structured and falls in the range expected for our data pipelines or applications. When collecting or using data it’s important to verify the quality to avoid unwanted machine learning behavior in production, such as errors or faulty prediction results.

For example, we may want to ensure our data doesn’t contain any empty or negative values before moving it along in the pipeline if our model does not expect those values.

In [ ]:
# Data Quality Validation whylogs

from whylogs.core.constraints import (Constraints,
                                     ConstraintsBuilder,
                                     MetricsSelector,
                                     MetricConstraint)

In [ ]:
# Using Constraints for Data Quality Validation

def validate_features(profile_view, verbose=False):

  builder = ConstraintsBuilder(profile_view)

  # Define a constraint for validating data
  builder.add_constraint(MetricConstraint(
    name="petal length > 0 and < 15",
    condition=lambda x: x.min > 0 and x.max < 15,
    metric_selector=MetricsSelector(metric_name='distribution',
                                    column_name='petal length (cm)')
  ))

  builder.add_constraint(MetricConstraint(
    name="petal width > 0 and < 15",
    condition=lambda x: x.min > 0 and x.max < 15,
    metric_selector=MetricsSelector(metric_name='distribution',
                                    column_name='petal width (cm)')
  ))

  builder.add_constraint(MetricConstraint(
    name="sepal length > 0 and < 15",
    condition=lambda x: x.min > 0 and x.max < 15 ,
    metric_selector=MetricsSelector(metric_name='distribution',
                                    column_name='sepal length (cm)')
  ))

  builder.add_constraint(MetricConstraint(
    name="sepal width > 0 and < 15",
    condition=lambda x: x.min > 0 and x.max < 15,
    metric_selector=MetricsSelector(metric_name='distribution',
                                    column_name='sepal width (cm)')
  ))

  # Build the constraints and return the report
  constraints: Constraints = builder.build()

  if verbose:
    print(constraints.report())

  # return constraints.report()
  return constraints

In [ ]:
const = validate_features(profile_view2, True)

In [ ]:
from whylogs.viz import NotebookProfileVisualizer
visualization = NotebookProfileVisualizer()
visualization.constraints_report(const, cell_height=300)

In [ ]:
# check all constraints for passing:
constraints_valid = const.validate()
print(constraints_valid)

In [ ]:
const = validate_features(profile_view4, True)

In [ ]:
visualization = NotebookProfileVisualizer()
visualization.constraints_report(const, cell_height=300)

In [ ]:
# check all constraints for passing:
constraints_valid = const.validate()
print(constraints_valid)

In [ ]:
profile_view4.to_pandas()

Leran more about performing data validation with whylogs
- [Data Validation with Metric Constraints](https://github.com/whylabs/whylogs/blob/mainline/python/examples/advanced/Metric_Constraints.ipynb)